  
  h2 {
    text-align: center;
    font-weight: 600;
    color: #131313;
    margin-top: 5%;
    
    
  }
  
  .programming-languages {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    margin-bottom: 150px;
    color: snow;
    
  
    background-color: transparent;
  }
  
  .language-card {
    width: 300px;
    height: 200px;
    perspective: 500px;
    margin: 10px;
  }
  
  .language-card-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.5s;
  }
  
  .language-card:hover .language-card-inner {
    transform: rotateY(180deg);
  }
  
  .language-card-front,
  .language-card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
  }
  
  .language-card-front {
    background-color:rgb(2, 2, 8) ;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: #fdfbfb;
    text-shadow: 0 2px 5px yellow;
    box-shadow: 0 2px 5px rgba(171, 74, 4, 0.837);

  }
  
  .language-card-back {
    background-color: #ecb009;
    border-radius: 10px;
   
    align-items: center;
    transform: rotateY(180deg);
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
    color: #0c0c0c;
    box-shadow: 0 2px 2px yellow;
    z-index: 10;
    cursor: pointer;
    scale: 1.3;
    width: 330px;
    top: -4.5em;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    background: linear-gradient(90deg, transparent,#ecb009,#ecb009, #edeceb, #edeceb, transparent);

  animation: rotation_481 5000ms infinite linear;
  
  }
    
  .petite
  {
    font-size: small; 
  }
  .grand
  {
    font-size: large; 
    text-align: center;
  }
  
  
  

  

  
  


